{% extends 'base.html' %}
{% load static %}

{% block title %}Report{% endblock %}

{% block content %}

<style>
    .navbar a {
        padding: 10px;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .navbar a.active {
        background-color: #007bff;
        color: white;
        border-radius: 5px;
    }
    .summary-options a {
        padding: 8px;
        cursor: pointer;
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: inline-block;
    }
    .summary-options a.active {
        background-color: #28a745;
        color: white;
        border-radius: 5px;
    }
    .editable {
        border: 1px solid #ddd;
        padding: 10px;
        min-height: 50px;
        background: #f8f9fa;
        cursor: text;
    }
    .editable:focus {
        background: white;
        outline: 2px solid #007bff;
    }
</style>

<body>
    <header class="navbar">
        <nav>
            <a onclick="showSection('resumen', this)" class="active">Resumen</a>
            <a onclick="showSection('fortalezas', this)">Fortalezas</a>
            <a onclick="showSection('conformidad', this)">Conformidades</a>
            <a onclick="showSection('riesgos', this)">Riesgos</a>
            <a onclick="showSection('recomendaciones', this)">Recomendaciones</a>
            <a onclick="showSection('no-conformidades', this)">No conformidades</a>
        </nav>
    </header>

    <div class="row">
        <div class="column left">
            <!-- SECCIÓN RESUMEN -->
            <div id="resumen" class="content-section">
                <h2 class="title">Resumen</h2>
                <button id="recuentoBtn" class="btn btn-primary">Actualizar</button>
                <table class="table table-bordered" id="tabla-resumen">
                    <thead>
                        <tr>
                            <th>Tipo de proceso</th>
                            <th>Proceso</th>
                            <th>Fortalezas</th>
                            <th>Conformidades</th>
                            <th>Recomendaciones</th>
                            <th>Riesgos</th>
                            <th>No Conformidades</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="reportTableSummary">
                        <!-- Aquí se añadirán dinámicamente los procesos (si lo deseas) -->
                    </tbody>
                </table>
            </div>

            <!-- SECCIÓN FORTALEZAS -->
            <div id="fortalezas" class="content-section" style="display: none;">
                <h2 class="title">Fortalezas</h2>
                <table class="table table-bordered" id="tabla-fortalezas">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cláusula</th>
                            <th>Norma</th>
                            <th>Hallazgo</th>
                            <th>Evidencia</th>
                            <th>Dependencia</th>
                            <th>Lugar</th>
                            <th>Proceso</th>
                            <th>Tipo Proceso</th>
                            <th>Responsable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas generadas dinámicamente -->
                    </tbody>
                </table>
            </div>

            <!-- SECCION CONFORMIDAD -->
            <div id="conformidad" class="content-section" style="display: none;">
                <h2 class="title">Conformidades</h2>
                <table class="table table-bordered" id="tabla-conformidades">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cláusula</th>
                            <th>Norma</th>
                            <th>Hallazgo</th>
                            <th>Evidencia</th>
                            <th>Dependencia</th>
                            <th>Lugar</th>
                            <th>Proceso</th>
                            <th>Tipo Proceso</th>
                            <th>Responsable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas generadas dinámicamente -->
                    </tbody>
                </table>
            </div>

            <!-- SECCIÓN RIESGOS -->
            <div id="riesgos" class="content-section" style="display: none;">
                <h2 class="title">Riesgos</h2>
                <table class="table table-bordered" id="tabla-riesgos">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cláusula</th>
                            <th>Norma</th>
                            <th>Hallazgo</th>
                            <th>Evidencia</th>
                            <th>Dependencia</th>
                            <th>Lugar</th>
                            <th>Proceso</th>
                            <th>Tipo Proceso</th>
                            <th>Responsable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas generadas dinámicamente -->
                    </tbody>
                </table>
            </div>

            <!-- SECCIÓN RECOMENDACIONES -->
            <div id="recomendaciones" class="content-section" style="display: none;">
                <h2 class="title">Recomendaciones</h2>
                <table class="table table-bordered" id="tabla-recomendaciones">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cláusula</th>
                            <th>Norma</th>
                            <th>Hallazgo</th>
                            <th>Evidencia</th>
                            <th>Dependencia</th>
                            <th>Lugar</th>
                            <th>Proceso</th>
                            <th>Tipo Proceso</th>
                            <th>Responsable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas generadas dinámicamente -->
                    </tbody>
                </table>
            </div>

            <!-- SECCIÓN NO CONFORMIDADES -->
            <div id="no-conformidades" class="content-section" style="display: none;">
                <h2 class="title">No Conformidades</h2>
                <table class="table table-bordered" id="tabla-no-conformidades">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cláusula</th>
                            <th>Norma</th>
                            <th>Hallazgo</th>
                            <th>Evidencia</th>
                            <th>Dependencia</th>
                            <th>Lugar</th>
                            <th>Proceso</th>
                            <th>Tipo Proceso</th>
                            <th>Responsable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas generadas dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="summary-options">
            <a onclick="showSummary('pertinencia', this)" class="active">Pertinencia</a>
            <a onclick="showSummary('adecuacion', this)">Adecuación</a>
            <a onclick="showSummary('eficacia', this)">Eficacia</a>
        </div>
        <div class="container">
            <div id="pertinencia" class="card summary-box">
                <div class="card-title">Pertinencia</div>
                <div class="card-content editable" contenteditable="true">
                    Explicación de la pertinencia del proceso.
                </div>
            </div>
            <div id="adecuacion" class="card summary-box">
                <div class="card-title">Adecuación</div>
                <div class="card-content editable" contenteditable="true">
                    Explicación sobre la adecuación del proceso.
                </div>
            </div>
            <div id="eficacia" class="card summary-box">
                <div class="card-title">Eficacia</div>
                <div class="card-content editable" contenteditable="true">
                    Evaluación de la eficacia del proceso.
                </div>
            </div>
        </div>

        <div class="column right-mb-8">
            <h2 class="title">Listas cargadas</h2>
            
            <!-- Selector de Checklists -->
            <div class="mb-4">
                <label for="checklistSelector" class="form-label">Seleccionar Checklist:</label>
                <select id="checklistSelector" class="form-select">
                    <option value="">Selecciona una checklist</option>
                    {% for checklist in checklists %}
                        <option value="{{ checklist.id }}">{{ checklist.process }} - {{ checklist.place }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Botones y carga de JSON -->
            <div class="buttons">
                <!-- Input de archivo JSON oculto -->
                <input type="file" id="fileInput" accept=".json" style="display: none;">
                
                <!-- Botón para disparar la carga de archivo -->
                <button id="cargarBtn">Cargar</button>
                <button id="sendBtn">Enviar</button>
            </div>

            <!-- Área de texto para mostrar el contenido JSON -->
            <div class="mt-3">
                <label for="jsonContent">Contenido del archivo JSON:</label>
                <textarea id="jsonContent" rows="10" style="width:100%;" readonly></textarea>
            </div>
        </div>
    </div>

    <script>
        // Limpiar tablas antes de recargar
        function clearTables() {
            const tables = [
                'tabla-fortalezas',
                'tabla-conformidades',
                'tabla-riesgos',
                'tabla-recomendaciones',
                'tabla-no-conformidades'
            ];
            tables.forEach(tableId => {
                let tbody = document.getElementById(tableId).querySelector('tbody');
                tbody.innerHTML = ''; // Limpiamos su contenido
            });
        }

        // Al cargar el DOM, configuramos secciones y la lógica de carga
        document.addEventListener('DOMContentLoaded', () => {
            showSection('resumen', document.querySelector('.navbar a.active'));
            showSummary('pertinencia', document.querySelector('.summary-options a.active'));
            initFileLoader();
        });
    </script>
    
    <script src="{% static 'js/reports/fileLoader.js' %}"></script>
    <script src="{% static 'js/reports/insertRow.js' %}"></script>
    <script src="{% static 'js/reports/showTables.js' %}"></script>
    <script src="{% static 'js/reports/summaryReport.js' %}"></script>
    <script src="{% static 'js/reports/sendReport.js' %}"></script>

</body>
{% endblock %}
