{% extends 'base.html' %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
    <div class="container mt-5">
    <h2 class="text-center">Inicio de sesión</h2>

    <div class="container mt-5">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
        </form>
        <p class="text-center mt-3">¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
    </div>
    </div>
{% endblock %}
