{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% load widget_tweaks %}

{% block content %}
<style>
    .card.static:hover {
    transform: none !important;
    transition: none !important;
    box-shadow: none !important;
}
</style>

<div class="container mt-5">
    <div class="card mx-auto shadow" style="max-width: 500px;">
        <div class="card-body">
            <h2 class="text-center card-title mb-4">Registro de Usuario</h2>

            <form method="post">
                {% csrf_token %}

                <div class="form-group mb-3">
                    <label for="username">Nombre de usuario</label>
                    {{ form.username|add_class:"form-control" }}
                </div>

                <div class="form-group mb-3">
                    <label for="email">Correo electrónico</label>
                    {{ form.email|add_class:"form-control" }}
                </div>

                <div class="form-group mb-3">
                    <label for="role">Rol</label>
                    {{ form.role|add_class:"form-control" }}
                </div>

                <div class="form-group mb-3">
                    <label for="organization">Organización</label>
                    {{ form.organization|add_class:"form-control" }}
                </div>

                <div class="form-group mb-3">
                    <label for="password1">Contraseña</label>
                    {{ form.password1|add_class:"form-control" }}
                </div>

                <div class="form-group mb-4">
                    <label for="password2">Confirmar contraseña</label>
                    {{ form.password2|add_class:"form-control" }}
                </div>

                <button type="submit" class="btn btn-primary w-100">Registrarse</button>
            </form>

            <p class="text-center mt-3 mb-0">
                ¿Ya tienes cuenta? <a href="{% url 'login' %}" class="text-primary">Inicia sesión aquí</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}